<body class="d-flex justify-content-center align-items-center bg-secondary" style="height: 100vh;">
  <div class="bg-light text-center">
  <h1>{{title}}</h1>
  <form>
    Número 1 <input type="number" [(ngModel)]="numero1" name="numero1"><br><br>
    Número 2 <input type="number" [(ngModel)]="numero2" name="numero2"><br><br>
    <input type="button" value="sumar" (click)="sumar()" class="btn btn-success">
    <input type="button" value="restar" (click)="restar()" class="btn btn-danger">
    <input type="button" value="multiplicar" (click)="multiplicar()" class="btn btn-warning">
    <input type="button" value="dividir" (click)="dividir()" class="btn btn-info">
  </form><br>
  <p>Resultado: {{resultado}}</p>
  </div>
</body>

